@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

* {
  box-sizing: border-box;
}

input {
  all: unset;
  box-sizing: border-box;
  appearance: none;
}

body {
  background-color: #fbede1;
  font-family: 'Sunflower', sans-serif;
  font-size: 14px;
  color: #55445c;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}

button {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}

.nweet-input::placeholder {
  color: white;
  opacity: 0.9;
}

.container {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
}

.mainContainer {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  border-top: 2px solid black;
}

.formInput {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  color: black;
  box-sizing:border-box;
}

.formBtn {
  cursor: pointer;
  width: 100%;
  padding: 7px 20px;
  text-align: center;
  color: #55445c;
  border-radius: 20px;
  background-color: #fbd157;
  cursor: pointer;
  box-sizing:border-box;
}

.cancelBtn {
  cursor: pointer;
  background-color: tomato;
}

/* Profile Page */

.profileForm {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logOut {
  margin-top: 50px;
}

/* Nwitter Factory */

.factoryForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.factoryInput__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.factoryInput__input {
  flex-grow: 1;
  height: 40px;
  padding: 0px 20px;
  color: #55445c;
  border: 1px solid #55445c;
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;
}

.factoryInput__input::placeholder {
  color: #55445c;
  font-family: 'Sunflower', sans-serif;
}

.factoryInput__arrow {
  position: absolute;
  right: 0;
  background-color: #55445c;
  height: 40px;
  width: 40px;
  padding: 10px 0px;
  text-align: center;
  border-radius: 20px;
  color: #fbd157;
  box-sizing:border-box;
}

.factoryInput__label {
  color: #55445c;
  cursor: pointer;
}

.factoryInput__label span {
  margin-right: 10px;
  font-size: 12px;
}

.factoryForm__attachment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.factoryForm__attachment img {
  height: auto;
  width: 160px;
}

.factoryForm__clear {
  color: red;
  cursor: pointer;
  text-align: center;
}

.factoryForm__clear span {
  margin-right: 10px;
  font-size: 12px;
}

/* Nweet */

.nweetEdit .formBtn {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 5px;
}

.nweet {
  margin-bottom: 20px;
  background-color: white;
  width: 100%;
  max-width: 320px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.8);
  box-sizing:border-box;
}

.nweet h4 {
  font-size: 14px;
  margin-bottom: 5px;
  line-height: 20px;
}

.nweet img {
  width: 280px;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nweet__actions {
  position: absolute;
  right: 10px;
  top: 10px;
}

.nweet__actions span {
  cursor: pointer;
}

.nweet__actions span:first-child {
  margin-right: 10px;
}

/* Auth */

.authContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.authBtns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
}

.authBtn {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  font-size: 14px;
  text-align: center;
  width: 320px;
  background: #fbd157;
  cursor: pointer;
  color: #55445c;
  font-family: 'Sunflower', sans-serif;
  font-weight: 700;
}

.Logo {
  margin-bottom: 30px;
}

/* AuthForm */

.authInput {
  max-width: 320px;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  font-size: 12px;
  color: black;
  box-sizing:border-box;
}

.authSubmit {
  text-align: center;
  background: #55445c;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  color: #fbd157;
}

.authError {
  color: tomato;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.authSwitch {
  color: #55445c;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 50px;
  display: block;
  font-size: 12px;
  text-decoration: underline;
}

/* airing */
.onePoster {
  width: 160px;
  height: 180px;
  border-radius: 15px;
}

.posterContainer {
  width: 100%;
  max-width: 320px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.mentionBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  margin-top: 20px;
}

.mentionBtn {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  font-size: 14px;
  text-align: center;
  width: 320px;
  background: #fbd157;
  cursor: pointer;
  color: #55445c;
  font-family: 'Sunflower', sans-serif;
  font-weight: 700;
}

.textContainer {
  margin-top: 15px;
}

.text {
  font-size: 16px;
  line-height: 20px;
}

.onePeople1 {
  height: 140px;
  width: 140px;
  border-radius: 70px;
  margin-right: 10px;
}

.onePeople2 {
  height: 140px;
  width: 140px;
  border-radius: 70px;
  margin-left: 10px;
}

.peopleContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

.titleContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 20px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}


/* nav */
.nav {
  width: 100%;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
  background-color: #55445c;
  padding: 20px 50px;
  box-sizing: border-box;
  color: #fbede1;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

/* chat */
.main-screen{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user-component {
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}
.user-component__title {
  font-weight: 600;
  font-size: 22px;
}
.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 8px;
  line-height: 20px;
}
.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}
.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}
.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
}

/* screen-header */
.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  margin-left: 15px;
}

.screen-header__title {
  font-size: 16px;
  font-weight: 600;
}